<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hola Sinatra</title>
  </head>
  <body>

    <h1>Donde Contactarme</h1>
    <h2><%=@email%><%@telefono%></h2>
    
  </body>
</html>