<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hola Sinatra</title>
  </head>
  <body>
   
    <p>Productos que vendemos</p>
    <ol>
      <li><%@productos[0]%></li>
      <li><%@productos[1]%></li>
      <li><%@productos[2]%></li>
    </ol>

  </body>
</html>