<img class="banner_home" src="https://flickrtheblog.files.wordpress.com/2018/05/zh_alt_featured_image1.png">
<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Welcome photofanatic!! </h1>
    <p class="lead">This is a space you can use to share your pictures and opinions!</p>

    <hr class="my-4">
    <p>We look forward to have you in our team! Sing up to enjoy the whole site!</p>
    <a class="btn btn-primary btn-lg" role="button" href="/form">Sign up</a>
  </div>
</div>
