<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="public/gallery.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PhotoGallery!</title>

  <style media="screen">

  .container-form {
    padding-top: 70px;
    }

  .navbar-inverse .navbar-brand {
    color: #f4f6ff;
    }

    .navbar-inverse .navbar-nav>li>a {
      color: #f4f6ff;
    }

    #content {
      text-align: center;
      padding-top: 25%;
      font-family: 'Merriweather', serif;
      text-shadow:  0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
    }

    #content h1, #content p {
      color: white;
    }

    #content h1 {
      font-size: 3em
    }

    html {
      height: 100%;
    }
    
      body {
      background-image: url("https://images.unsplash.com/photo-1519908445142-d7cca1b45a4a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=35369b48b3596c35355dc7b895efaac5&auto=format&fit=crop&w=1500&q=80");
      background-size: covered;
      background-position: center;
    }
  </style>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="far fa-image"></i> PhotoGallery</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li> <a href="#">Gallery</a> </li>
          <li> <a href="#">Collaborate</a> </li>
          <li> <a href="#">About us</a> </li>
          <li> <a href="#">Contact</a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="/form"><i class="fas fa-user-plus"></i> Sign up</a> </li>
          <li> <a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a> </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="main">
  <%= yield %>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
